# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.co

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Vim swap files
*.sw?

# QT files
*.moc

# binary file
demo/demo


# Ignore Python virtual environment
.venv/
venv/

# Ignore VS Code settings
.vscode/

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs and environment files
*.log
.env
.env.local
